
<style>

  .seg_title {
    font-weight:'bold';
  }

  .seg_title:hover {
    cursor:pointer;
  }

  .nav_seg:hover {
    cursor:pointer;
  }
</style>
<div class='main_content  container-fluid'>

        <div class='row'>
          <div class='col-md-12'>
            <slider-ctrl options="sliderArgs[0]" cur-state="sliderState[0]"></slider-ctrl>
            <slider-ctrl options="sliderArgs[1]" cur-state="sliderState[1]"></slider-ctrl>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-2 col xs-0'></div>
            <div class='col-sm-8 col xs-12'>
              <circle-nav args="navOpts" items="navItems[0]" curr-nav-content="currNavText" slider-state="sliderState[0]"></circle-nav>
              <circle-nav args="navOpts" items="navItems[1]" curr-nav-content="currNavText"></circle-nav>
              <circle-nav args="navOpts" items="navItems[2]" curr-nav-content="currNavText"></circle-nav>
              <circle-nav args="navOpts" items="navItems[3]" curr-nav-content="currNavText"></circle-nav>
              <circle-nav args="navOpts" items="navItems[4]" curr-nav-content="currNavText"></circle-nav>
              <div style='margin-top:36px;text-align:center;font-size:1.2em;'>{{currNavText}}</div>
            </div>
          <div class='col-sm-2 col xs-0'></div>
        </div>

</div>
