
<style>

  .seg_title {
    font-weight:'bold';
  }

  .seg_title:hover {
    cursor:pointer;
  }

  .nav_seg {
    pointer-events:auto !important;
  }

  .nav_seg:hover {
    cursor:pointer;
  }

  .outer_seg_title {

  }
  .wheel_wrapper {
    position:relative;
    top:72px;
  }
  .menu_title {
      margin-top:72px
  }
</style>
<div class='main_content  container-fluid'>

        <div class='row'>
          <div class='col-sm-1 col-xs-0'></div>
          <div class='col-sm-6' >
              <div class='col-xs-12'><div class='wheel_wrapper'><circle-nav args="navOpts" menus="navMenus" start-menu="'main'" main-menu="menuState.inner" menu-state="menuState" curr-nav-content="currNavText" slider-state="sliderState[0]"></circle-nav></div></div>
              <div style='margin-top:36px;clear:both;text-align:right;font-size:1.2em;'>{{currNavText}}</div>
          </div>
          <div class='col-sm-4'>
              <h1 class='menu_title'>Menu Title</h1>
              <p>Holstein UK is Europe’s largest independent breed society. It offers a range of services to the dairy farming industry targeted at improving the genetics and profitability of the Holstein breed.</p><p> British Friesians continue to be registered in the herdbook with percentages of Friesian clearly denoted.
Breed societies have traditionally been associated with registering births and ancestry, promoting the breed, and increasing the value of your livestock.</p><p> But at Holstein UK, this is just the tip of the iceberg. Over the past decade, the Society has built up a portfolio of services designed to improve your breeding decisions along with the quality, profitability and herd-life of your dairy cows.</p>
          </div>
          <div class='col-sm-1 col-xs-0'></div>
       </div>

</div>
