
<div class='main_content  container-fluid'>

        <div class='row'>
        <div class='col-md-12' ng-controller='sliderCtrl'>
            <slider-ctrl options="sliderArgs" cur-state="sliderState"></slider-ctrl>
        </div>
        </div>
        <div class='row'>
          <div class='col-sm-2 col xs-0'><back-to-menu txt="backMenuTxt"></back-to-menu></div>
            <div class='col-sm-8 col xs-12'>
              <div class='col-sm-12' style='text-align:center'><h1>Ideal Cow</h1><h3>Params: {{viewData}}</h3></div>
            </div>
          <div class='col-sm-2 col xs-0'></div>
        </div>

</div>
