
<div class='main_content  container-fluid'>

        <div class='row'>

          <div class='col-sm-1 col xs-0' style='padding:0'></div>
          <div class='col-sm-10 col xs-12'>
            <p>viewData: {{viewData}} Sel:{{currState.selected}} Item:{{currState.item}} test:{{navMenus[viewData].items[0].target.data}}</p>
              <a ng-href="#/traits/{{targetData}}">< Back</a>
              <p>{{targetData}}</p>
              <trait-full args="currState.item"></trait-full>
          <div class='col-sm-1 col xs-0' style='padding:0'></div>

        </div>

</div>
