
<style>

/* paraSlider Styles */

.centred {
display:block;
margin-left:auto;
margin-right:auto;
}

.slider_color {
color:#c00;
background:#c00;
}

.slider_wrapper {
float:right;
position:relative;
height:44px;
width:97%;
clear:both;
margin:4px 0 20px 0;
padding:12px 0;
}

.slider_box {
display:block;
float:left;
position:relative;
height:100%;
width:97%;
-webkit-user-select: none;
}


.slider_line,.slider_progress {
position:absolute;
width:100%;
height:8px;
border:1px solid #333;
top:12px;
-webkit-user-select: none;

}

.slider_progress {
width:0;
top:12px;
-webkit-user-select: none;

}

.slider_handle {
position:absolute;
/*top:4px;*/
top:4px;
width:24px;
height:24px;
margin-left:-15px;
background:rgba(255,255,255,0.5);
-webkit-user-select: none;
-ms-touch-action: none;
border:1px solid #808080;
border-radius:24px;
z-index:10;
}

.bobble {
  background-image:
    radial-gradient(
      circle closest-side at 8px 6px,
      white,
      #323854
    );
}

.slider_handle:hover {
cursor:w-resize;
z-index:20;
}

.handle_hilite {
  background-color:#6D9473 !important;
}

.slider_mark,.slider_mark_sm {
position:absolute;
top:4px;
left:0px;
width:12px;
height:12px;
margin-left:-2px;
-webkit-user-select: none;
z-index:10;
border:1px solid #333;
border-radius:999px;
background:#fff;
background-color:#fff;
}

.slider_mark_sm {
top:10px;
left:0px;
width:12px;
height:12px;
}

.slider_key {
position:absolute;
top:40px;
left:0px;
margin-left:-12px;
width:30px;
padding:4px;
font-size:0.8em;
text-align:center;
-webkit-user-select: none;
-ms-touch-action: none;
z-index:0;
}

.key_focus {
top:8px;
margin-left:-17px;
font-size:0.9em;
color:#000;
/*z-index:10;*/
}

.key_focus:hover, .key_focus:active, key_focus:focus {
z-index:0;
}

#sk100 {
margin-left:-18px;
}

.sk100 {
margin-left:-18px;
}

.slider_txt {
position:absolute;
bottom:0px;
left:28px;
font-size:1em;
}

.slider_indicator {
  font-size:1.4em;
  margin-bottom:12px;
  color:#1C3764;
}

.sliderSmooth1 {
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
-ms-transition: all 0.1s linear;
transition: all 0.1s linear;
}

.sliderSmooth2 {
-webkit-transition: all 0.25s linear;
-moz-transition: all 0.25s linear;
-ms-transition: all 0.25s linear;
transition: all 0.25s linear;
}

.slideTrans {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.slideTransSlow {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.end_marker {
  margin-left:-2px;
}

</style>
<div class='slider_indicator'>Current Score: <span ng-show="options.showCurPercent">{{curState.curPercent | number:1}}%</span> <span ng-show="options.showNearKeyLabel">{{curState.nearKeyLabel}}</span></div>
<div ng-attr-id="{{ options.id + '_wrapper'}}" class='slider_wrapper'>
  <div ng-attr-id="{{ options.id }}" class="slider_box {{options.boxClasses}}">
    <span ng-if="markers.length > 0"><div ng-repeat="marker in markers" class='slider_mark slider_color' ng-class="{'end_marker':marker.pos == 100,'slider_mark_sm':options.markerMin}" style="{{'left:'+marker.pos+'%;background:'+options.markerBgColor+';'}}"></div></span>
    <span ng-if="keyMarkers.length > 0"><div ng-repeat="marker in keyMarkers" class='slider_mark slider_color' ng-class="{'end_marker':marker.pos == 100,'slider_mark_sm':options.markerMin}" style="{{'left:'+marker.pos+'%;background:'+options.markerBgColor+';'}}"></div></span>
    <span ng-if="keyMarkers.length > 0"><div ng-attr-id="{{'sk_' + options.id + '_' + marker.pos }}" ng-repeat="marker in keyMarkers" class='slider_key slideTrans noSelect'  style="{{'left:'+marker.pos+'%;font-size:'+options.keySize+';color:'+options.keyColor+';top:'+options.keyVoffset}}">{{marker.label}}</div></span>
    <div class='slider_line slider_color' style="{{'background:'+options.lineColor+';'}}"></div>
    <div class='slider_line slider_progress' ng-class="{'slideTrans':!curState.mouseDown}" style="background:{{options.progressColor}};width:{{curState.curPercent | number:1}}%;"></div>
    <div class='slider_handle shadowed bobble' ng-class="{'slideTrans':!curState.mouseDown,'handle_hilite':curState.mouseDown}" style="{{'border-color:'+options.handleColor+';background-color:'+options.handleInnerColor+';'}}" drag-handle></div>
    <div class='slider_txt noSelect'></div>
  </div>
</div>
